.venv
meta_api.py
test_api.py
__pycache__\backend.cpython-312.pyc
C:\Users\1000452\OneDrive - Compunnel\Desktop\udemy courses\python course\apps\bonus apps\chatbot-gpt-gui\__pycache__\backend.cpython-312.pyc